.ipynb_checkpoints/
src/.ipynb_checkpoints/
.DS_Store
*.jl.cov
*.jl.*.cov
*.jl.mem
.vscode
outputs/*
output/*
*.pdf
*.h5
data/*
config/partitions*.json
config/events*.json
config/events*.json
make_configs.ipynb
time_test.jl